%h1 Bestellungen

%table
  %tr
    %th Name
    %th Adresse
    %th Email
    %th Bezahlung
    %th Status
    %th
    %th
    %th
  

  - @orders.each do |order|
    %tr
      %td= order.name
      %td
        = order.street
        %br
        = order.zip 
        = order.city
        %br
        = order.country
      %td= order.email
      %td= order.pay_type
      %td= @status
      %td= link_to 'Show', order
      %td= link_to 'Edit', edit_order_path(order)
      %td= link_to 'Destroy', order, confirm: 'Are you sure?', method: :delete

%br

%p.pagination= will_paginate @orders